<!DOCTYPE html>
<html>
  <head>
    <title> Quiz </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Creditos </h1>
    <p>Autor: Jorge Garcia Perez</p>
    <img src="/images/aa.jpg" width="650"/>
  </body>
</html>
